@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base { 
                 html{ 
                                @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
                }
                body { 
                                @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
                }
} 
               
                



.active{
                font-weight: bold;
                color: #0147c8;
                background-color: grey;
                
}